<div class="col-lg-12 gray-bg login-screen">
    <div class="text-center animated fadeInDown">
        <div class="logo margintop-20 img-responsive text-center inline-block"></div>
        <div class="clearfix">&nbsp;</div>
        <h1 class="font-size-15em">404</h1>
        <h2>
            <strong>
                You've come to a blank wall.
            </strong>
        </h2>
        <h2>
            The page <i>{{router.url}}</i> was not found.
        </h2>
        <button type="submit" class="btn btn-primary margintop-30" (click)="goBack()">Go Back</button>
    </div>
</div>